
.notice {
    width: 350px;
    height: auto;
    border: 5px solid #ddd;
    padding: 20px;
    position: relative;
}

.notice h1+a {
    position: absolute;
    right: 8px;
    top: 17px;
}

/* 폰트 사이즈 지정 안했을때 사이즈 16px */
.popup {
    font-size: 15px;
}